@import "parameters.scss";

header {
  display: flex;
  background-color: $primary-color-light;
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}
header div {
  flex-grow: 1;
}

header h1 {
  display: block;
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;
}
