@import 'parameters.scss';

.logo {
    color: $primary-color;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

.logo p {
    font-size: 25px;
    margin-top: 15px;
}

.login {
    background-color: $primary-color-white;
    color: $primary-color-dark;
    width: 350px;
    margin: auto auto 20px auto;
    padding: 20px;
    border-radius: 7px;
    box-shadow: 0 1px 5px rgb(138, 137, 137);
}


.login input {
    width: 100%;
    box-shadow: 0 1px 5px rgb(138, 137, 137);
    outline: none;
    border: none;
    font-size: 1.2rem;
    border-radius: 7px;
    margin: 5px auto 15px auto;
    height: 30px;
    padding: 15px;
}

.login button {
    padding: 7px;
    width: 100%;
    font-size: 1.2rem;
    border-radius: 7px;
    background-color: $primary-color-light;
    border: none;
    outline: none;
    margin-top: 10px;
    color: $primary-color-white;
    cursor: pointer;
}
.login button:hover {
    color: $primary-color-dark;
}

.login-message {
    margin-top: 15px;
    color: $primary-color-dark;
    text-align: center;
    font-size: larger;
}

.password {
    display: flex;
}
.password div {
    flex-grow: 1;
}

.create-account {
    display: flex;
    justify-content: center;
    background-color: $primary-color-white;
    color: $primary-color-dark;
    width: 350px;
    margin: 20px auto auto auto;
    padding: 20px;
    border-radius: 7px;
    box-shadow: 0 1px 5px rgb(138, 137, 137);
}

.button {
    color: $primary-color-dark;
}
.button:hover{
    color: $primary-color-light;
}


